
NOTEbook/NOTEbook.xcodeproj/project.xcworkspace/xcuserdata/mattfree.xcuserdatad/UserInterfaceState.xcuserstate
NOTEbookHelper/NOTEbookHelper.xcodeproj/project.xcworkspace/xcuserdata/mattfree.xcuserdatad/UserInterfaceState.xcuserstate
NOTEbookHelper/NOTEbookHelper.xcodeproj/xcuserdata/mattfree.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
